<h1 id="tableLabel">Doctors</h1>

<p>This component demonstrates fetching doctors from the server.</p>

<a class="nav-link text-dark" [routerLink]="['/doctor-add']">Add Doctors</a>

<p *ngIf="!doctors"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="doctors">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Vaccinated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of doctors">
      <td>{{ doctor.id }}</td>
      <td>{{ doctor.name }}</td>
      <td>{{ doctor.department }}</td>
      <td>{{ doctor.vaccinated }}</td>
      <td> <button class="btn btn-danger" (click)="deleteDoctor(doctor)"> Delete </button> </td>
    </tr>
  </tbody>
</table>
