<h1 id="tableLabel">Vaccines</h1>

<p>Bellow, you'll find informations about the doses imported in our hospital.</p>

<button class="btn btn-success" [routerLink]="['/vaccine-add']">Add doses </button>

<p *ngIf="!vaccines"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vaccines">
  <thead>
    <tr>
      <th>ID</th>
      <th>Brand</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vaccine of vaccines">
      <td>{{ vaccine.id }}</td>
      <td>{{ vaccine.brand }}</td>
      <td> <button class="btn btn-danger" (click)="deleteVaccine(vaccine)"> Delete </button> </td>

    </tr>
  </tbody>
</table>
