<h1 id="tableLabel">Patients</h1>

<p>This component demonstrates fetching patients from the server.</p>

<button class="btn btn-success" [routerLink]="['/patient-add']">Add new patients</button>

<p *ngIf="!patients"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patients">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Disease</th>
      <th>Vaccinated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.id }}</td>
      <td>{{ patient.name }}</td>
      <td>{{ patient.disease }}</td>
      <td>{{ patient.vaccinated }}</td>
      <td><a href="/patient-update?id={{patient.id}}" class="btn btn-primary">Edit</a></td>
      <td> <button class="btn btn-danger" (click)="deletePatient(patient)"> Delete </button> </td>

    </tr>
  </tbody>
</table>
