<h1>Welcome, people!</h1>
<p>to "The gift" hospital. The only safe hospital around the West Coast!</p>
<ul>
  <li>Acces the <a href='https://localhost:5001/doctors'>Doctors</a> database. <a href='https://localhost:5001/doctors'></a></li>
  <li>Acces the <a href='https://localhost:5001/patients'>Patients</a> database. <a href='https://localhost:5001/patients'></a></li>
  <li>Acces the <a href='https://localhost:5001/vaccines'>Vaccine</a> database to check the doses. <a href='https://localhost:5001/vaccines'></a></li>
</ul>
<p><strong>"The gift"</strong>" helps you build your health step by step:</p>

<h3>We are here to provide you:</h3>

<ul>
  <li><strong>Best testers for Covid-19</strong>.
  <li><strong>Best prepared doctors around the country in every domain</strong>.
  <li>
    <strong>Efficient equipment for people who are infected with Coronavirus.</strong>
    <br />
    <p>"<em>Health is the greatest of human blessings</em>" Hippocrates</p>
